[data-theme='dark'] {
  --color-bg-primary: #151d2c;
  --color-bg-secondary: linear-gradient(to bottom, #1a1838, #4b1b76);
  --color-text-primary: #d1d5db;
  --color-text-secondary: #b33acd;
  --color-border: #303030;
  --color-primary: #40a9ff;
  --color-primary-hover: #b0e4e6;
}
