[data-theme='dark'] {
  --color-bg-primary: #151d2c;
  --color-header-bg: rgba(0, 0, 0, 0.99); // 头部半透明背景
  --color-bg-secondary: #1e293b;
  --bg-gradient: linear-gradient(to bottom, #1a202c, #171734, #2a2a4a);
  --color-bg-third: #4d1b78;
  --color-text-primary: #d1d5db;
  --color-text-secondary: #b33bce;
  --color-h-primary: #f9f5ff; //标题
  --color-border: #6b21a8;
  --color-primary: #40a9ff;
  --color-primary-hover: #8a61f8;

  // 代码块相关
  --color-code-head: #181736; //代码块标题颜色
  --color-code-border: #314158;
  --color-code-line: #464267; //代码块行号颜色
  --color-code-copy-btn-bg: rgba(255, 255, 255, 0.1); // 复制按钮背景
  --color-code-copy-btn-hover: rgba(255, 255, 255, 0.2); // 复制按钮悬停背景
  --color-code-copy-icon: #a0a0b0; // 复制图标颜色
  --color-code-copy-icon-hover: #ffffff; // 复制图标悬停颜色
  --color-code-copy-success: #6f4ac5; // 复制成功颜色

  // 引用块
  --color-blockquote-bg: #2a184d; //引用块背景颜色
  --color-blockquote-border: #6f4ac5; //引用块边框颜色

  //表格
  --color-table-hover: #393847; //表格背景颜色

  // 时间轴
  --color-timeline-line: #374151; // 时间轴线颜色
  --color-timeline-dot-bg: #1f2937; // 时间轴点背景色
  --color-timeline-dot-border: #4b5563; // 时间轴点边框色
  --color-timeline-year: #f3f4f6; // 年份文字颜色

  // 按钮
  --color-btn-bg: #314158;

  --color-page-active: var(--color-bg-third);
}
