.preview-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .preview-url {
    width: 100%;
    height: 2.8rem;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    background-color: #252526;
    border-top-right-radius: 1rem;
    overflow-x: auto;
    @media screen and (max-width: 768px) {
      border-top-right-radius: 0;
    }
    .url-btn {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.3rem;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #333333;

        .url-icon {
          color: #fff;
        }
      }

      .url-icon {
        width: 1rem;
        height: 1rem;
        color: #6a6f78;
      }
    }

    .url-input {
      height: 1.6rem;
      outline: none;
      background-color: #252526;
      color: #fff;
      border: 1px solid #999;
      padding-left: 0.5rem;
      border-radius: 0.3rem;
    }
  }

  .preview-iframe {
    width: 100%;
    flex: 1; // 占满剩余空间

    .iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-top-right-radius: 1rem;
    }
  }

  .preview-console {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;

    .preview-drag {
      height: 100%;
      width: 100%;
      height: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: row-resize;
      border-top: 2px solid #333333;

      .icon {
        width: 14px;
        height: 14px;
        color: #9ea6b3;
      }

      &:hover {
        background-color: #dbeafe;

        .icon {
          color: #2b7fff;
        }
      }
    }
  }
}

.console-drag {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: col-resize;
  background-color: transparent;
  left: 0;
  top: 0;
  z-index: 999;
}
