.playground-outer {
  width: 100%;
    // 把间距放在外层，用 padding 代替 margin，彻底避免穿透
  padding: 2rem 0;
}
.playground-layout {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
  vertical-align: top;
  box-sizing: border-box;
  .main {
    width: 100%;
    height: calc(100% - 2.5rem);
    flex: 1;
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    // 编辑区
    .edit {
      background-color: #1e1e1e;
      border-top-left-radius: 1rem;
      border-right: 1px solid #333333;
      @media screen and (max-width: 768px) {
        width: 100%!important;
        height: 50%;
        border-top-right-radius: 1rem;
      }
    }

    .edit-drag {
      width: 0.6rem;
      height: 100%;
      background-color: #1e1e1e;
      cursor: col-resize;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 10;
      &:hover {
        background-color: #2b7fff;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .preview {
      flex: 1;
      position: relative;
    }
  }
  // 展开更多
  .show-more {
    flex-shrink: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c707b;
    cursor: default;
    &:hover {
      color: #fff;
    }
  }
}
.preview-drag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: col-resize;
  z-index: 5;
}
